.main-header {
  height: 330px;
  width: 100%;
  position: relative;
  background-color: orange;
  background-image: url("../images/header-background.png");
}

.main-header div {
  padding-top: 10px;
  text-align: center;
}

.main-header h2 {
  margin: 0;
}
