#tweets article {
  margin: 8px 0;
  padding: 5px;
  border: solid;
  border-width: 2px;
  border-color: grey;
  border-radius: 10px;
  width: 90%;
  margin: 10px auto;
}

#tweets > article:hover {
  box-shadow: 3px 3px 4px #888888;
}

#tweets > article:hover .handle {
  visibility: visible;
}

#tweets header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  color: lightgrey;
}

#tweets .left {
  display: flex;
  align-items: center;
}

#tweets .name {
  margin-left: 10px;
}

#tweets .handle {
  padding-right: 10px;
  visibility: hidden;
}

#tweets .body {
  float: left;
  overflow-wrap: break-word;
  width: 100%;
  padding: 10px;
  border-bottom: solid;
  border-color: grey;
}

#tweets footer span {
  font-size: 12px;
  padding-left: 15px;
  position: relative;
  top: -5px;
}
