.tweets {
  margin: 8px 0;
  padding: 5px;
  border: solid;
  border-width: 2px;
  border-color: grey;
  border-radius: 10px;
}

.tweets:hover {
  box-shadow: 3px 3px 4px #888888;
}

.tweets:hover header .handle {
  visibility: visible;
}

.tweets header {
  margin: 10px;
  color: lightgrey;
}

.tweets header .handle {
  float: right;
  padding-right: 10px;
  visibility: hidden;
}

.tweets .body {
  width: 100%;
  padding: 10px;
  border-bottom: solid;
  border-color: grey;
}

.tweets footer span {
  font-size: 12px;
  padding-left: 15px;
  position: relative;
  top: -5px;
}
